.card-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 500px;
  padding: 20px;
  margin: 20px;
  background-color: rgb(117, 207, 186);
  font-family: "Arial Narrow Bold";
  border-radius: 10px;
  font-size: 18px;
}

p {
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(24, 14, 9, 0.88);
}
